Repository Jeffzholy/Mentoring, pull requests merged in 2020-01, with the labels that each got.

#20 feat: add file store to DataArrayWithObserver class
  backend/db/FileStore.js
  backend/db/ObservableDataSet.js
  backend/db/ObservableDataSet.test.js
  backend/db/config.js
  backend/db/utils.js
Labels: Data Store

#27 fix: separate observableDataset into a separate file in order to initiate it with lazy Singleton
  backend/__tests__/prices.js
  backend/app.js
  backend/db/SingletonObservableDataSet.js
  backend/prices.test.js
  backend/routes/index.js
  backend/routes/prices.js
  backend/routes/pricesHandler.js
  backend/routes/pricesHandler.test.js
  backend/service.js
  frontend/utils/config.js
  package.json
  yarn.lock
Labels: Back-end

#24 feat: added worker and socket in FE chart
  .gitignore
  frontend/components/TrendChart/index.js
  frontend/config.js
  frontend/helpers/dataProcesser.js
  frontend/helpers/dataProcesser.test.js
  frontend/helpers/socketClient.js
  frontend/helpers/workerClient.js
  frontend/utils/concatData.js
  frontend/utils/concatData.test.js
  frontend/utils/dataConvert.js
  frontend/utils/dataConvert.test.js
  jest.setup.js
  package.json
  webpack.config.dev.js
  yarn.lock
Labels: Front-end
